In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['STRING',100,23.2]

In [3]:
len(my_list)

3

In [4]:
mylist = ['one','two','three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

In [7]:
another_list = ['four','five']

In [11]:
new_list = mylist + another_list

In [12]:
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
mylist

['one', 'two', 'three']

In [14]:
another_list

['four', 'five']

In [15]:
new_list

['one', 'two', 'three', 'four', 'five']

In [16]:
new_list[0]='ONE ALL CAPS'

In [17]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [18]:
new_list.append('six')

In [19]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [21]:
new_list.append('seven')

In [ ]:
new_list